<section>
  <div class="container main-top">

    <div class="row">

      <div class="col-md-6">
        <a type="button" href="/income" class="btn btn-warning rounded-circle btn-lg">収入を記録する</a>
      </div>
      <div class="col-md-6">
        <a type="button" href="/outcome" class="col-md-6 btn btn-primary output">支出を記録する</a>
      </div>

    </div>

    <div class="output">

    </div>

  </div>
</section>
