<section class="bg-light">
  <div class="container main-top">

    <div class="row">

      <div class="col-md-6">
        <a type="button" href="/income" class="btn btn-warning rounded-circle btn-lg">収入を記録する</a>
      </div>
      <div class="col-md-6">
        <a type="button" href="/outcome" class="col-md-6 btn btn-success output">支出を記録する</a>
      </div>

      <div class="container mt-5 text-center">
        <table class="center mx-auto">
          <thead>

          </thead>


        </table>

        <br>

        <%= month_calendar events: @blogs do |date, blogs| %>
          <%= date.day %>

          <% blogs.each do |blog| %>

            <div>
              <%= link_to blog.title, blog %>
            </div>
          <% end %>
        <% end %>
      </div>




    </div>

    <div class="output">

    </div>

  </div>
</section>
