
  <div class="top">
    <div class="container">
      <div class="menu-logo">
        <h1>Wellcome to Manage Money App</h1>
        <p>あなたのお金を管理できるアプリケーションです</p>
        <a href="/users/new">
          <button type="button" class="btn btn-outline-dark btn-top">新規登録!</button>
        </a>
      </div>
    </div>
  </div>
