<% provide(:title, "Home")%>

  <div class="top">
    <div class="container">
      <div class="menu-logo">
        <h1>Wellcome to Manage Money App</h1>
        <p>あなたのお金を管理できるアプリケーションです</p>
        <a href="/#">
          <button type="button" class="btn btn-outline-dark btn-top">START!</button>
        </a>
      </div>
    </div>
  </div>
